albumentations
ultralytics
comet_ml
coremltools
Flask
GitPython
ipython
matplotlib
mss
numpy
onnx
onnx_simplifier
onnxruntime
onnxsim
opencv_contrib_python
openvino
pafy
pandas
Pillow
psutil
pycocotools
pyscreenshot
PyYAML
requests
scipy
seaborn
setuptools
streamlit
thop
torch
torchvision
tqdm
tritonclient
x2paddle
